In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('train_wk_sum.csv')

In [3]:
df.head()

,acc_id,playtime_1,npc_kill_1,solo_exp_1,party_exp_1,quest_exp_1,rich_monster_1,death_1,revive_1,exp_recovery_1,...,combat_same_pledge_cnt_3,combat_etc_cnt_3,combat_num_opponent_3,combat_pledge_cnt_4,combat_random_attacker_cnt_4,combat_random_defender_cnt_4,combat_temp_cnt_4,combat_same_pledge_cnt_4,combat_etc_cnt_4,combat_num_opponent_4
0,2,22.919696,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,...,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000
1,8,4.987936,26.808113,28.720862,0.000000,0.650061,1.0,88.763931,89.288620,0.0,...,0.0,0.675669,2.355090,0.064184,0.0,0.000000,0.000000,0.0,0.000000,0.098129
2,17,5.406914,25.931158,4.197880,1.086304,0.700796,4.0,0.491767,0.494674,0.0,...,0.0,0.225223,0.392515,0.000000,0.0,0.000000,0.479728,0.0,0.112612,0.196258
3,20,5.526287,27.285960,0.204564,0.025327,0.004013,1.0,0.000000,0.000000,0.0,...,0.0,1.914396,1.766318,0.192553,0.0,1.183064,0.479728,0.0,4.166626,2.845734
4,21,6.048253,4.379366,14.917062,0.000000,9.242806,0.0,0.000000,0.000000,0.0,...,0.0,0.000000,0.098129,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000

In [4]:
play = df

In [5]:
play.columns

Index(['acc_id', 'playtime_1', 'npc_kill_1', 'solo_exp_1', 'party_exp_1',
       'quest_exp_1', 'rich_monster_1', 'death_1', 'revive_1',
       'exp_recovery_1',
       ...
       'combat_same_pledge_cnt_3', 'combat_etc_cnt_3', 'combat_num_opponent_3',
       'combat_pledge_cnt_4', 'combat_random_attacker_cnt_4',
       'combat_random_defender_cnt_4', 'combat_temp_cnt_4',
       'combat_same_pledge_cnt_4', 'combat_etc_cnt_4',
       'combat_num_opponent_4'],
      dtype='object', length=141)

In [6]:
play12 = play[['acc_id','playtime_1','playtime_2','playtime_3','playtime_4']]

In [7]:
play12

       acc_id  playtime_1  playtime_2  playtime_3  playtime_4
0           2   22.919696   22.980553   22.659883   22.973531
1           8    4.987936    4.889629    4.653223    4.267014
2          17    5.406914    9.048973    7.831832    6.176989
3          20    5.526287    7.014944    3.508642    9.538170
4          21    6.048253    7.363701    4.966870    3.452466
...       ...         ...         ...         ...         ...
39995  130295    0.000000    0.000000    0.000000    5.243068
39996  130348    0.000000    0.000000    0.000000    0.269175
39997  130384    0.000000    0.000000    0.000000    0.477494
39998  130461    0.000000    0.000000    0.000000    0.301945
39999  130468    0.000000    0.000000    0.000000    1.404393

[40000 rows x 5 columns]

In [8]:
play12['playtime12'] = play['playtime_1']+play['playtime_2']

C:\Users\multicampus\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [9]:
play12['playtime34'] = play12['playtime_3']+play12['playtime_4']

C:\Users\multicampus\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [10]:
play12

,acc_id,playtime_1,playtime_2,playtime_3,playtime_4,playtime12,playtime34
0,2,22.919696,22.980553,22.659883,22.973531,45.900249,45.633414
1,8,4.987936,4.889629,4.653223,4.267014,9.877565,8.920237
2,17,5.406914,9.048973,7.831832,6.176989,14.455887,14.008821
3,20,5.526287,7.014944,3.508642,9.538170,12.541231,13.046812
4,21,6.048253,7.363701,4.966870,3.452466,13.411954,8.419337
...,...,...,...,...,...,...,...
39995,130295,0.000000,0.000000,0.000000,5.243068,0.000000,5.243068
39996,130348,0.000000,0.000000,0.000000,0.269175,0.000000,0.269175
39997,130384,0.000000,0.000000,0.000000,0.477494,0.000000,0.477494
39998,130461,0.000000,0.000000,0.000000,0.301945,0.000000,0.301945
39999,130468,0.000000,0.000000,0.000000,1.404393,0.000000,1.404393

In [11]:
import seaborn as sns

In [12]:
import matplotlib.pyplot as plt
%matplotlib inline

In [13]:
play12['playsum'] = play12['playtime12']+play12['playtime34']

C:\Users\multicampus\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [14]:
play12['play12cha'] = play12['playsum']-play12['playtime12']

C:\Users\multicampus\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [15]:
play12['play34cha'] = play12['playsum']-play12['playtime34']

C:\Users\multicampus\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [16]:
play12

,acc_id,playtime_1,playtime_2,playtime_3,playtime_4,playtime12,playtime34,playsum,play12cha,play34cha
0,2,22.919696,22.980553,22.659883,22.973531,45.900249,45.633414,91.533663,45.633414,45.900249
1,8,4.987936,4.889629,4.653223,4.267014,9.877565,8.920237,18.797802,8.920237,9.877565
2,17,5.406914,9.048973,7.831832,6.176989,14.455887,14.008821,28.464708,14.008821,14.455887
3,20,5.526287,7.014944,3.508642,9.538170,12.541231,13.046812,25.588043,13.046812,12.541231
4,21,6.048253,7.363701,4.966870,3.452466,13.411954,8.419337,21.831291,8.419337,13.411954
...,...,...,...,...,...,...,...,...,...,...
39995,130295,0.000000,0.000000,0.000000,5.243068,0.000000,5.243068,5.243068,5.243068,0.000000
39996,130348,0.000000,0.000000,0.000000,0.269175,0.000000,0.269175,0.269175,0.269175,0.000000
39997,130384,0.000000,0.000000,0.000000,0.477494,0.000000,0.477494,0.477494,0.477494,0.000000
39998,130461,0.000000,0.000000,0.000000,0.301945,0.000000,0.301945,0.301945,0.301945,0.000000
39999,130468,0.000000,0.000000,0.000000,1.404393,0.000000,1.404393,1.404393,1.404393,0.000000

In [17]:
play12[play12==0] = np.nan

C:\Users\multicampus\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\multicampus\Anaconda3\lib\site-packages\pandas\core\frame.py:3515: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._where(-key, value, inplace=True)

In [18]:
play12

,acc_id,playtime_1,playtime_2,playtime_3,playtime_4,playtime12,playtime34,playsum,play12cha,play34cha
0,2,22.919696,22.980553,22.659883,22.973531,45.900249,45.633414,91.533663,45.633414,45.900249
1,8,4.987936,4.889629,4.653223,4.267014,9.877565,8.920237,18.797802,8.920237,9.877565
2,17,5.406914,9.048973,7.831832,6.176989,14.455887,14.008821,28.464708,14.008821,14.455887
3,20,5.526287,7.014944,3.508642,9.538170,12.541231,13.046812,25.588043,13.046812,12.541231
4,21,6.048253,7.363701,4.966870,3.452466,13.411954,8.419337,21.831291,8.419337,13.411954
...,...,...,...,...,...,...,...,...,...,...
39995,130295,NaN,NaN,NaN,5.243068,NaN,5.243068,5.243068,5.243068,NaN
39996,130348,NaN,NaN,NaN,0.269175,NaN,0.269175,0.269175,0.269175,NaN
39997,130384,NaN,NaN,NaN,0.477494,NaN,0.477494,0.477494,0.477494,NaN
39998,130461,NaN,NaN,NaN,0.301945,NaN,0.301945,0.301945,0.301945,NaN
39999,130468,NaN,NaN,NaN,1.404393,NaN,1.404393,1.404393,1.404393,NaN

In [19]:
play12['playtime12'].min()

0.002340655217004705

In [20]:
play12['playtime12'] = play12['playtime12'].fillna(value = 0.002340655217004705)

C:\Users\multicampus\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [21]:
play12

,acc_id,playtime_1,playtime_2,playtime_3,playtime_4,playtime12,playtime34,playsum,play12cha,play34cha
0,2,22.919696,22.980553,22.659883,22.973531,45.900249,45.633414,91.533663,45.633414,45.900249
1,8,4.987936,4.889629,4.653223,4.267014,9.877565,8.920237,18.797802,8.920237,9.877565
2,17,5.406914,9.048973,7.831832,6.176989,14.455887,14.008821,28.464708,14.008821,14.455887
3,20,5.526287,7.014944,3.508642,9.538170,12.541231,13.046812,25.588043,13.046812,12.541231
4,21,6.048253,7.363701,4.966870,3.452466,13.411954,8.419337,21.831291,8.419337,13.411954
...,...,...,...,...,...,...,...,...,...,...
39995,130295,NaN,NaN,NaN,5.243068,0.002341,5.243068,5.243068,5.243068,NaN
39996,130348,NaN,NaN,NaN,0.269175,0.002341,0.269175,0.269175,0.269175,NaN
39997,130384,NaN,NaN,NaN,0.477494,0.002341,0.477494,0.477494,0.477494,NaN
39998,130461,NaN,NaN,NaN,0.301945,0.002341,0.301945,0.301945,0.301945,NaN
39999,130468,NaN,NaN,NaN,1.404393,0.002341,1.404393,1.404393,1.404393,NaN

In [24]:
column = df.columns

In [28]:
len(column)

141

In [30]:
column[2]

'npc_kill_1'

In [68]:
df[df==0] = np.nan
i=2
for i in range(2,len(df.columns)):
    py = df[df.columns[i]].min()
    print(py)
    print(df.columns[i])
    df[df.columns[i]] = df[df.columns[i]].fillna(py)
    i = i+1

0.0003379401046725734
npc_kill_1
7.535525139270069e-08
solo_exp_1
2.813902983551669e-07
party_exp_1
7.698160285412411e-06
quest_exp_1
1.0
rich_monster_1
0.2458834656477353
death_1
0.24733689711011106
revive_1
15.0
exp_recovery_1
7.802184056682343e-05
fishing_1
0.00011703276085023526
private_shop_1
-83.7287068056479
game_money_change_1
20.0
enchant_count_1
0.002340655217004705
playtime_2
0.0003379401046725734
npc_kill_2
7.535525139270069e-08
solo_exp_2
2.813902983551669e-07
party_exp_2
7.698160285412411e-06
quest_exp_2
1.0
rich_monster_2
0.2458834656477353
death_2
0.24733689711011106
revive_2
15.0
exp_recovery_2
7.802184056682343e-05
fishing_2
0.00027307644198388306
private_shop_2
-93.90426966503391
game_money_change_2
20.0
enchant_count_2
0.002340655217004705
playtime_3
0.0003379401046725734
npc_kill_3
7.535525139270069e-08
solo_exp_3
2.813902983551669e-07
party_exp_3
7.698160285412411e-06
quest_exp_3
1.0
rich_monster_3
0.2458834656477353
death_3
0.24733689711011106
revive_3
15.0
exp_recovery_3
0.00011703276085023526
fishing_3
0.00011703276085023526
private_shop_3
-251.79483416208168
game_money_change_3
20.0
enchant_count_3
0.002340655217004705
playtime_4
0.0003379401046725734
npc_kill_4
7.535525139270069e-08
solo_exp_4
2.813902983551669e-07
party_exp_4
7.698160285412411e-06
quest_exp_4
1.0
rich_monster_4
0.2458834656477353
death_4
0.24733689711011106
revive_4
15.0
exp_recovery_4
0.00023406552170047046
fishing_4
0.00011703276085023526
private_shop_4
-89.76390736228689
game_money_change_4
20.0
enchant_count_4
0.01173470155204053
payment_amount_spent_1
0.01173470155204053
payment_amount_spent_2
0.01173470155204053
payment_amount_spent_3
0.01173470155204053
payment_amount_spent_4
2.3969839259754707e-08
sell_item_amount_1
2.6661210696817945e-06
sell_item_price_1
2.3969839259754707e-08
sell_item_amount_2
9.521860963149264e-08
sell_item_price_2
2.3969839259754707e-08
sell_item_amount_3
2.6661210696817945e-06
sell_item_price_3
2.3969839259754707e-08
sell_item_amount_4
2.6661210696817945e-06
sell_item_price_4
2.3969839259754707e-08
buy_item_amount_1
1.075970288835867e-05
buy_item_price_1
2.3969839259754707e-08
buy_item_amount_2
9.521860963149264e-08
buy_item_price_2
2.3969839259754707e-08
buy_item_amount_3
3.618307165996721e-06
buy_item_price_3
2.3969839259754707e-08
buy_item_amount_4
1.0474047059464192e-05
buy_item_price_4
0.03608931935050446
pledge_play_char_cnt_1
0.03608931935050446
pledge_combat_char_cnt_1
0.001821267884949736
pledge_combat_cnt_1
0.3227614964868202
pledge_random_attacker_cnt_1
0.07153133882486172
pledge_random_defender_cnt_1
0.3978585998767488
pledge_same_pledge_cnt_1
0.09888304781458404
pledge_temp_cnt_1
0.00707826528754353
pledge_etc_cnt_1
0.00011583103758588046
pledge_combat_play_time_1
0.00011583103758588046
pledge_non_combat_play_time_1
0.03608931935050446
pledge_play_char_cnt_2
0.03608931935050446
pledge_combat_char_cnt_2
0.001821267884949736
pledge_combat_cnt_2
0.3227614964868202
pledge_random_attacker_cnt_2
0.07153133882486172
pledge_random_defender_cnt_2
0.3978585998767488
pledge_same_pledge_cnt_2
0.09888304781458404
pledge_temp_cnt_2
0.00707826528754353
pledge_etc_cnt_2
0.0002316620751717609
pledge_combat_play_time_2
0.00011583103758588046
pledge_non_combat_play_time_2
0.03608931935050446
pledge_play_char_cnt_3
0.03608931935050446
pledge_combat_char_cnt_3
0.001821267884949736
pledge_combat_cnt_3
0.3227614964868202
pledge_random_attacker_cnt_3
0.07153133882486172
pledge_random_defender_cnt_3
0.3978585998767488
pledge_same_pledge_cnt_3
0.09888304781458404
pledge_temp_cnt_3
0.00707826528754353
pledge_etc_cnt_3
0.00011583103758588046
pledge_combat_play_time_3
0.00011583103758588046
pledge_non_combat_play_time_3
0.03608931935050446
pledge_play_char_cnt_4
0.03608931935050446
pledge_combat_char_cnt_4
0.001821267884949736
pledge_combat_cnt_4
0.3227614964868202
pledge_random_attacker_cnt_4
0.07153133882486172
pledge_random_defender_cnt_4
0.3978585998767488
pledge_same_pledge_cnt_4
0.09888304781458404
pledge_temp_cnt_4
0.00707826528754353
pledge_etc_cnt_4
0.00011583103758588046
pledge_combat_play_time_4
0.00011583103758588046
pledge_non_combat_play_time_4
0.06418424262244407
combat_pledge_cnt_1
2.0
combat_random_attacker_cnt_1
1.0
combat_random_defender_cnt_1
0.4797277642444799
combat_temp_cnt_1
6.0
combat_same_pledge_cnt_1
0.11261152623951592
combat_etc_cnt_1
0.09812875452789364
combat_num_opponent_1
0.06418424262244407
combat_pledge_cnt_2
2.0
combat_random_attacker_cnt_2
1.0
combat_random_defender_cnt_2
0.4797277642444799
combat_temp_cnt_2
6.0
combat_same_pledge_cnt_2
0.11261152623951592
combat_etc_cnt_2
0.09812875452789364
combat_num_opponent_2
0.06418424262244407
combat_pledge_cnt_3
2.0
combat_random_attacker_cnt_3
1.0
combat_random_defender_cnt_3
0.4797277642444799
combat_temp_cnt_3
6.0
combat_same_pledge_cnt_3
0.11261152623951592
combat_etc_cnt_3
0.09812875452789364
combat_num_opponent_3
0.06418424262244407
combat_pledge_cnt_4
2.0
combat_random_attacker_cnt_4
1.0
combat_random_defender_cnt_4
0.4797277642444799
combat_temp_cnt_4
6.0
combat_same_pledge_cnt_4
0.11261152623951592
combat_etc_cnt_4
0.09812875452789364
combat_num_opponent_4

In [33]:
df['npc_kill_1'].min()

0.0003379401046725734

In [43]:
py= df[df.columns[2]].min()

In [66]:
df[df.columns[2]].fillna(py)

0         0.000338
1        26.808113
2        25.931158
3        27.285960
4         4.379366
           ...
39995     0.000338
39996     0.000338
39997     0.000338
39998     0.000338
39999     0.000338
Name: npc_kill_1, Length: 40000, dtype: float64

In [50]:
df

,acc_id,playtime_1,npc_kill_1,solo_exp_1,party_exp_1,quest_exp_1,rich_monster_1,death_1,revive_1,exp_recovery_1,...,combat_same_pledge_cnt_3,combat_etc_cnt_3,combat_num_opponent_3,combat_pledge_cnt_4,combat_random_attacker_cnt_4,combat_random_defender_cnt_4,combat_temp_cnt_4,combat_same_pledge_cnt_4,combat_etc_cnt_4,combat_num_opponent_4
0,2,22.919696,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,8,4.987936,26.808113,28.720862,NaN,0.650061,1.0,88.763931,89.288620,NaN,...,NaN,0.675669,2.355090,0.064184,NaN,NaN,NaN,NaN,NaN,0.098129
2,17,5.406914,25.931158,4.197880,1.086304,0.700796,4.0,0.491767,0.494674,NaN,...,NaN,0.225223,0.392515,NaN,NaN,NaN,0.479728,NaN,0.112612,0.196258
3,20,5.526287,27.285960,0.204564,0.025327,0.004013,1.0,NaN,NaN,NaN,...,NaN,1.914396,1.766318,0.192553,NaN,1.183064,0.479728,NaN,4.166626,2.845734
4,21,6.048253,4.379366,14.917062,NaN,9.242806,NaN,NaN,NaN,NaN,...,NaN,NaN,0.098129,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39995,130295,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.479728,NaN,NaN,0.098129
39996,130348,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39997,130384,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39998,130461,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39999,130468,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.112612,0.098129